.content{
  width: 393px;
  height: 852px;
  background: linear-gradient(#212559, #250E79);
  color: aliceblue;
}

.timer{
  width: 100%;
  height: 60px;
  font-size: 2rem;
  margin: 0 60px;
}
.timer p{
  text-align: center;
}
