.content{
  width: 393px;
  height: 852px;
  background:linear-gradient(#212559, #250E79);
  color: #fff;
  position: relative;
  z-index: -5;

}

/* header{

} */

.mainContent{
  width: 100%;
  height: 600px;
  padding-top: 50px;
  /* position:relative; */
}

.mainContent h2{
  text-align: center;
  font-size: 20px;
}

.dataContent{
  width: 350px;
  height: 230px;
  border :1px solid tomato;
  margin: 100px auto 0;
}

.dataContent figure{
  width: 350px;
  height: 330px;
}
.dataContent figure img{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


.rectangle{
  position: relative;
  width: 350px;
  height: 230px;
  background: #254581;
  border: #fff 1px solid;
  border-radius: 10px;

}
.rectangle::before{
  content: "";
  position: absolute;
  z-index: -1;
  top: -50px;           
  left: 50%;
  transform: translate(-50%, -10%);
  width: 120px;
  height: 120px;
  background: #254581;
  border: #fff 1px solid;
  border-radius: 50% ;
} 

